body {
background-color: #fff;
font-style:normal;
color: #09165F;
}

div {
    width: 1058;
    height: 786;
    margin-left: 191;
    margin-top: 119;
}

.name {
    margin: 87px 457px 31px 456px;
    text-align: center;
}
